﻿@using System.Security.Claims
@using WebUI.Dtos.UserDtos
@model ChangePasswordDto


@{
    ViewData["Title"] = "ChangeMyPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="box box-default">
    <div class="box-header with-border">
        <h4 class="box-title">Şifre Düzenleme</h4>
        <h6 class="box-subtitle">Formu doldurarak şifrenizi düzenleyebilirsiniz.</h6>
    </div>
    <div class="box-body wizard-content">
        <form asp-action="ChangeMyPassword" method="post" enctype="multipart/form-data">
            <section>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Title">Yeni Şifre :</label>
                            <input type="text" class="form-control" name="NewPassword" id="NewPassword">
                            <input type="hidden" class="form-control" name="UserId" id="NewPassword" value="@userId">
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Güncelle</button>
            </section>
        </form>
    </div>
</div>